In [7]:
import pandas as pd
x = pd.read_excel('Data-Science\\Statistics\\bivariat\\IQ_vs_MUSIC.xlsx', sheet_name='pearson_python')
x

    IQ  Rock
0   99     2
1  120     0
2   98    25
3  102    45
4  123    14
5  105    20
6   85    15
7  110    19
8  117    22
9   90     4